
.three{
    display: flex;
    justify-content: space-around;
    padding-top: 3rem;
        
        @media (max-width: 768px){
            display: flex;
            flex-direction: column;
            padding-top: 1rem;
            gap: 1.5rem;
            text-align: center;
        }
     
    &__photo{
        width: 24rem;
        min-height: 18rem;
        max-height: 26rem;
        box-shadow: 1px 1px 5px 3px var(--sombra-caja);

        @media (max-width: 400px){
            width: 90%;
        }
    }
}

.detalles{
    display: flex;
    justify-content: center;
    // height: 12rem;
    margin-top: 5rem;
    
        @media (max-width: 768px){
            flex-direction: column;
            margin-top: 1rem;
            align-items: center;
        }


    &__producto{
        display: flex;
        flex-direction: column;
        width: 28rem;

        @media (max-width: 400px){
            width: auto;
        }
    }
    &__garantias{
        display: flex;
        flex-direction: column;
        align-items: end;
        width: 28rem;
        margin: 0 6rem;

            @media (max-width: 768px){
                align-items: flex-start;
            }
            @media (max-width: 400px){
                width: auto;
            }

    }
}
.detalles h3{
    text-align: center;
    // box-sizing: border-box;
    align-self: center;
    padding: 0.5rem 1rem;
    border-radius: 8px;    
    width: 15rem;
    
    background-color: var(--azul-oscuro);
    box-shadow: 1px 1px 5px 2px  var(--azul-black);

        @media (max-width: 768px){
            margin-top: 2rem;;
        }


}
.detalles p{
    text-align: justify;
        @media (max-width: 768px){}

}
.devl{
    padding:2rem 2rem 0 2rem;
}
.modelo{
    text-align: center;
    padding-top: 3rem;
      @media (max-width: 768px){
        padding-top: 1rem;
      }
    
    &__caracter{
        padding-top: 1rem;
    }
}

.end{
    display: flex;
    justify-content: center;
    &__buy-list{
        margin: 3rem 4rem 3rem 2rem;
            @media (max-width: 768px){
                margin: 0;
            }
        }
    &__bottom{
        position: relative;
        padding: 2rem;
        margin: 2.7rem;
        border: none;
        outline: none;
        border-radius: 8px;
        background: linear-gradient(to bottom, var(--azul-oscuro), var(--azul-black));
        transition: 0.5s;
        color: #FFFF;
        cursor: pointer;

            @media (max-width: 768px){
                padding: 1rem;
                margin: 1rem;
            }
        }

}

.end__bottom span{
    position: absolute;
    background-color: #FFFF;
    transition: 0.5s;
        

}
.end__bottom span:nth-child(1){
        width: 100%;
        height: 3px;
        top: 0;
        left: -100%;

        @media (max-width: 400px){
            width: 0;
        }
}
.end__bottom span:nth-child(2){
        width: 100%;
        height: 3px;
        bottom: 0;
        right: -100%;

        @media (max-width: 400px){
            width: 0;
        }
}
.end__bottom span:nth-child(3){
        width: 3px;
        height: 100%;
        bottom: -100%;
        left: 0;

        @media (max-width: 400px){
            width: 0;
        }
}
.end__bottom span:nth-child(4){
        width: 3px;
        height: 100%;
        top: -100%;
        right: 0;

        @media (max-width: 400px){
            width: 0;
        }
}
    
.end__bottom:hover span:nth-child(1){
    left: 0;
}
.end__bottom:hover span:nth-child(2){
    right: 0;
}
.end__bottom:hover span:nth-child(3){
    bottom: 0;
}
.end__bottom:hover span:nth-child(4){
    top: 0;
}